.aside-container {
  background-color: blue;
  background-image: url("images/fondo-responsive.png");
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}
.aside-video-bg {
  display: none;
}
.aside-logo {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  width: 40%;
}
.aside-title {
  color: white;
  display: block;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}


@media (min-width: 400px) {


.aside-container {

  height: 100%;
  width: 50%;
}
.aside-video-bg {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
  filter: blur(2px);
  -webkit-filter: blur(2px);
  background-color: #003da5;
  opacity: 1;
  mix-blend-mode: overlay;
  width: 50%;
}

.aside-video-bg > video {
    opacity: 1;
    mix-blend-mode: overlay;
}
.aside-video-bg > video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    height: auto;
    min-width: 20%;
    min-height: 100%;
    transform: translate(-50%, -50%);
    opacity: .3;
}









} /* Fin mediaquery!!! */
