.aside-big-info-container {
  display: none;
}

.navbar-menu{
  width: 100%;

}
////////////////////////////   MEDIAQUERIES   /////////////////////////////////////////
@media (min-width: 870px) {


  .aside-big-info-container {
    display: block;
    height: 100%;
    margin-left: auto;
    scroll-behavior: smooth;
    width: 50%;
  }

  .navbar-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: auto;
    margin-bottom: 0;
    margin-top: 20px;
    width: 80%;
  }

  .navbar--element {
    display: block;
    font-size: 0.8em;
    list-style: none;
    margin: 0 10px;
    a {
      color: $font-link;
      text-decoration: none;
    }
    a:visited {
      color: $font-link-visited;
    }
    a:hover {
      color: $font-link-visited;
      border-bottom: 1px solid $font-link-visited;
    }
  }

  .btn-table-contain {
    background-color: white;
    border: none;
    border-radius: 4px;
    display: block;
    font-size: 1.1em;
    font-weight: bold;
    height: 50px;
    margin: 50px auto;
    width: 200px;
  }
  .aside-info-title {
    text-align: center;
    font-size: 2.3em;
    margin-bottom: 20px;
    margin-top: 75px
  }
  .aside-info-2title{
    color: $font-link;
    text-align: center;
    font-size: 1.2em;
  }
  .aside-info-image {
    display: block;
    margin: 0 auto;
    width: 80%;
  }

  // Footer:
  .aside-footer {
    height: 12%;
    margin-bottom: 55px;
    width: 50%;
  }
  .footer-aside-logo-social{
    display: flex;
    width: 50%;
    justify-content: baseline;
    align-items: baseline;
    margin: 20px;
  }
  .osw-logo {
    margin-right: 5px;
    margin-top: 20px;
    width: 20%;
  }
  .aside-title {
    color: white;
    display: block;
    font-size: 20px;
    font-weight: normal;
    margin-left: 5px;
    margin-right: auto;
    margin-top: 10px;
  }

  .footer-social-list{
    align-items: flex-end;
    display: flex;
    margin-left: auto;

  }
  .footer-social-element{
    color: white;
    list-style: none;
    margin-left: 5px;
    margin-right: 5px;
    width: 35px;
  }
  .social-ico{
    width: 35px;
  }

} /* Fin mediaquery!!! */
