.aside-display-info-container{
  // background-color: white;
  border-radius: 10px;
  margin-bottom: 15px;
  padding: 10px 20px;
  & p {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  & h1 {
    margin: 15px auto;
  }
  & h2, h3 {
    margin: 7px auto;
  }
  & strong {
    margin-top: 25px;
  }
}
.aside-info-image{
  width: 60%;
}
