.section-container {
  display: flex;
  height: 100%;
  justify-content: space-around;
  height: 100%;
  width: 50%;
  margin-top: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
}


.section-general ul {
    width: 50%;
    padding: 1rem;

}

li {
  list-style: none;
}



.title {
  text-align: center;
  font-weight: bold;
  padding-top: 1rem;
}

.description{
  text-align: justify;
  padding-bottom: 2rem;
}
