/*HEADER*/

header{
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  width: 100%;
}
.navbar-container{
  width: 60%;
}
.navbar-logo{
  display: block;
  width: 120px;
}


/*FIN HEADER*/


.section-container {
  display: flex;
  height: 100%;
  justify-content: space-around;
  height: 100%;
  width: 50%;
  margin-top: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
}


.section-general ul {
    width: 50%;
    padding: 1rem;

}

.section-group {
  background-color: #ffffff;
  border-radius: 20px;
  margin-bottom:15px;
}

.section-group img{
  margin: 1rem;
}


li {
  list-style: none;
}



.title {
  font-weight: 500;
  font-size: 24px;
  margin: 1rem 1rem 0.3rem 1rem;
}

.description{
  font-size: 18px;
  font-weight: lighter;
  padding: 0.3rem 1rem 1rem 1rem;
}
