.section-container {
  display: flex;
  height: 100%;
  justify-content: space-around;
  height: 100%;
  width: 50%;
  margin-top: 2rem;
}


.section-general ul {
    width: 50%;
    padding: 1rem;

}

li {
  list-style: none;
}

p {
  text-align: justify;
  width: 85%;
}

.title {
  text-align: center;
  font-weight: bold;
  padding-top: 1rem;
}
