* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Raleway', sans-serif;
}

h1, h2, h3, h4, h5,
h6 {
  font-family: 'Open Sans', sans-serif;
}

/*  PAGE  */

.container {
  background-color: red;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
}

@media (min-width: 800px) {


.container {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}






}
