
/*   COLORS   */
//Fonts
$font-color: #4e4c4c;
$font-2color: #6a6a6a;
$font-link: #121212;
$font-link-visited: #555353;

// Bakcgronds:

$default-background: #e5e5e9; // da error.


/* RESPONSIVE  */
