
/*   COLORS   */
//Fonts
$font-color: #1c1c1c;
$font-2color: #6a6a6a;
$font-link: #6a6a6a;
$font-link-visited: #555353;

// Bakcgronds:

$default-background: #e5e5e9; // da error.


/* RESPONSIVE  */
