/*   COLORS   */
/* RESPONSIVE  */
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Raleway', sans-serif;
  background-color: #e5e5e9;
  color: #1c1c1c;
}

h1, h2, h3, h4, h5,
h6 p {
  font-family: 'Open Sans', sans-serif;
}

/*  PAGE  */
.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
}

@media (min-width: 800px) {
  .container {
    background-color: transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 0;
    padding: 0;
  }
}

.hamburguer-button {
  background-color: none;
}

.search-input {
  background-color: #e5e5e9;
  border: 1px solid #6a6a6a;
  color: #6a6a6a;
  border-radius: 20px;
  margin-top: -15px;
  padding: 0 10px;
  height: 40px;
}

.aside-big-info-container {
  display: none;
}

.navbar-menu {
  width: 100%;
}

@media (min-width: 800px) {
  .aside-big-info-container {
    display: block;
    height: 100%;
    margin-left: auto;
    scroll-behavior: smooth;
    width: 50%;
  }
  .navbar-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-left: auto;
    margin-bottom: 0;
    margin-top: 20px;
    width: 80%;
  }
  .navbar--element {
    display: block;
    font-size: 0.8em;
    list-style: none;
    margin: 0 10px;
  }
  .navbar--element a {
    color: #6a6a6a;
    text-decoration: none;
  }
  .navbar--element a:visited {
    color: #555353;
  }
  .navbar--element a:hover {
    color: #555353;
    border-bottom: 1px solid #555353;
  }
  .btn-table-contain {
    background-color: white;
    border: none;
    border-radius: 4px;
    display: block;
    font-size: 1.1em;
    font-weight: bold;
    height: 50px;
    margin: 50px auto;
    width: 200px;
  }
  .aside-info-title {
    text-align: center;
    font-size: 2.3em;
    margin-bottom: 20px;
    margin-top: 75px;
  }
  .aside-info-2title {
    color: #6a6a6a;
    text-align: center;
    font-size: 1.2em;
  }
  .aside-info-image {
    display: block;
    margin: 0 auto;
    width: 80%;
  }
  .aside-footer {
    height: 12%;
    margin-bottom: 55px;
    width: 50%;
  }
  .footer-aside-logo-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 50%;
    -webkit-box-pack: baseline;
        -ms-flex-pack: baseline;
            justify-content: baseline;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    margin: 20px;
  }
  .osw-logo {
    margin-right: 5px;
    margin-top: 20px;
    width: 20%;
  }
  .aside-title {
    color: white;
    display: block;
    font-size: 20px;
    font-weight: normal;
    margin-left: 5px;
    margin-right: auto;
    margin-top: 10px;
  }
  .footer-social-list {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
  }
  .footer-social-element {
    color: white;
    list-style: none;
    margin-left: 5px;
    margin-right: 5px;
    width: 35px;
  }
  .social-ico {
    width: 35px;
  }
}

/* Fin mediaquery!!! */
/*HEADER*/
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 10px;
  width: 100%;
}

.navbar-container {
  width: 60%;
}

.navbar-logo {
  display: block;
  width: 120px;
}

/*FIN HEADER*/
.section-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 100%;
  width: 50%;
  margin-top: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.section-general ul {
  width: 50%;
  padding: 1rem;
}

.section-group {
  background-color: #ffffff;
  border-radius: 20px;
  margin-bottom: 15px;
}

.section-group img {
  margin: 1rem;
}

li {
  list-style: none;
}

.title {
  font-weight: 500;
  font-size: 24px;
  margin: 1rem 1rem 0.3rem 1rem;
}

.description {
  font-size: 18px;
  font-weight: lighter;
  padding: 0.3rem 1rem 1rem 1rem;
}

/*# sourceMappingURL=data:application/json;charset=utf8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIl92YXJpYWJsZXMuc2NzcyIsIl9zZXR0aW5ncy5zY3NzIiwibWFpbi5jc3MiLCJjb21wb25lbnRzL19idXR0b25zLnNjc3MiLCJjb21wb25lbnRzL19pbnB1dHMuc2NzcyIsIl9hc2lkZS5zY3NzIiwiX3NlY3Rpb25zLnNjc3MiXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IkFBQ0EsZ0JBQWdCO0FBWWhCLGlCQUFpQjtBQ2JqQjtFQUNFLHVCQUFzQjtFQUN0QixVQUFTO0NBQ1Y7O0FBRUQ7RUFDRSxtQ0FBa0M7RUFDbEMsMEJBQXlCO0VBQ3pCLGVETGtCO0NDTW5COztBQUVEOztFQUVFLHFDQUFvQztDQUNyQzs7QUFFRCxZQUFZO0FBRVo7RUFDRSxxQkFBYTtFQUFiLHFCQUFhO0VBQWIsY0FBYTtFQUNiLDZCQUFzQjtFQUF0Qiw4QkFBc0I7TUFBdEIsMkJBQXNCO1VBQXRCLHVCQUFzQjtFQUN0QixhQUFZO0VBQ1osVUFBUztFQUNULFdBQVU7Q0FDWDs7QUFFRDtFQUdBO0lBQ0UsOEJBQTZCO0lBQzdCLHFCQUFhO0lBQWIscUJBQWE7SUFBYixjQUFhO0lBQ2IsK0JBQW1CO0lBQW5CLDhCQUFtQjtRQUFuQix3QkFBbUI7WUFBbkIsb0JBQW1CO0lBQ25CLFVBQVM7SUFDVCxXQUFVO0dBQ1g7Q0NBQTs7QUNuQ0Q7RUFDQSx1QkFBc0I7Q0FFckI7O0FDSEQ7RUFDRSwwQkpTMEI7RUlSMUIsMEJKR2lCO0VJRmpCLGVKRWlCO0VJRGpCLG9CQUFtQjtFQUNuQixrQkFBaUI7RUFDakIsZ0JBQWU7RUFDZixhQUFZO0NBQ2I7O0FDUkQ7RUFDRSxjQUFhO0NBQ2Q7O0FBRUQ7RUFDRSxZQUFXO0NBRVo7O0FBRUQ7RUFHRTtJQUNFLGVBQWM7SUFDZCxhQUFZO0lBQ1osa0JBQWlCO0lBQ2pCLHdCQUF1QjtJQUN2QixXQUFVO0dBQ1g7RUFFRDtJQUNFLHFCQUFhO0lBQWIscUJBQWE7SUFBYixjQUFhO0lBQ2IsK0JBQW1CO0lBQW5CLDhCQUFtQjtRQUFuQix3QkFBbUI7WUFBbkIsb0JBQW1CO0lBQ25CLDBCQUE2QjtRQUE3Qiw4QkFBNkI7SUFDN0Isa0JBQWlCO0lBQ2pCLGlCQUFnQjtJQUNoQixpQkFBZ0I7SUFDaEIsV0FBVTtHQUNYO0VBRUQ7SUFDRSxlQUFjO0lBQ2QsaUJBQWdCO0lBQ2hCLGlCQUFnQjtJQUNoQixlQUFjO0dBWWY7RUFoQkQ7SUFNSSxlTC9CYTtJS2dDYixzQkFBcUI7R0FDdEI7RUFSSDtJQVVJLGVMbENxQjtHS21DdEI7RUFYSDtJQWFJLGVMckNxQjtJS3NDckIsaUNMdENxQjtHS3VDdEI7RUFHSDtJQUNFLHdCQUF1QjtJQUN2QixhQUFZO0lBQ1osbUJBQWtCO0lBQ2xCLGVBQWM7SUFDZCxpQkFBZ0I7SUFDaEIsa0JBQWlCO0lBQ2pCLGFBQVk7SUFDWixrQkFBaUI7SUFDakIsYUFBWTtHQUNiO0VBQ0Q7SUFDRSxtQkFBa0I7SUFDbEIsaUJBQWdCO0lBQ2hCLG9CQUFtQjtJQUNuQixpQkFDRjtHQUFFO0VBQ0Y7SUFDRSxlTDdEZTtJSzhEZixtQkFBa0I7SUFDbEIsaUJBQWdCO0dBQ2pCO0VBQ0Q7SUFDRSxlQUFjO0lBQ2QsZUFBYztJQUNkLFdBQVU7R0FDWDtFQUdEO0lBQ0UsWUFBVztJQUNYLG9CQUFtQjtJQUNuQixXQUFVO0dBQ1g7RUFDRDtJQUNFLHFCQUFhO0lBQWIscUJBQWE7SUFBYixjQUFhO0lBQ2IsV0FBVTtJQUNWLDJCQUF5QjtRQUF6Qix3QkFBeUI7WUFBekIsMEJBQXlCO0lBQ3pCLDRCQUFxQjtRQUFyQix5QkFBcUI7WUFBckIsc0JBQXFCO0lBQ3JCLGFBQVk7R0FDYjtFQUNEO0lBQ0Usa0JBQWlCO0lBQ2pCLGlCQUFnQjtJQUNoQixXQUFVO0dBQ1g7RUFDRDtJQUNFLGFBQVk7SUFDWixlQUFjO0lBQ2QsZ0JBQWU7SUFDZixvQkFBbUI7SUFDbkIsaUJBQWdCO0lBQ2hCLG1CQUFrQjtJQUNsQixpQkFBZ0I7R0FDakI7RUFFRDtJQUNFLHVCQUFxQjtRQUFyQixvQkFBcUI7WUFBckIsc0JBQXFCO0lBQ3JCLHFCQUFhO0lBQWIscUJBQWE7SUFBYixjQUFhO0lBQ2Isa0JBQWlCO0dBRWxCO0VBQ0Q7SUFDRSxhQUFZO0lBQ1osaUJBQWdCO0lBQ2hCLGlCQUFnQjtJQUNoQixrQkFBaUI7SUFDakIsWUFBVztHQUNaO0VBQ0Q7SUFDRSxZQUFXO0dBQ1o7Q0gwQ0Y7O0FHeENDLHVCQUF1QjtBQ3pIekIsVUFBVTtBQUVWO0VBQ0UscUJBQWE7RUFBYixxQkFBYTtFQUFiLGNBQWE7RUFDYiwwQkFBOEI7TUFBOUIsdUJBQThCO1VBQTlCLCtCQUE4QjtFQUM5QixnQkFBZTtFQUNmLFlBQVc7Q0FDWjs7QUFDRDtFQUNFLFdBQVU7Q0FDWDs7QUFDRDtFQUNFLGVBQWM7RUFDZCxhQUFZO0NBQ2I7O0FBR0QsY0FBYztBQUdkO0VBQ0UscUJBQWE7RUFBYixxQkFBYTtFQUFiLGNBQWE7RUFDYixhQUFZO0VBQ1osMEJBQTZCO01BQTdCLDhCQUE2QjtFQUM3QixhQUFZO0VBQ1osV0FBVTtFQUNWLGlCQUFnQjtFQUNoQixrQkFBaUI7RUFDakIsbUJBQWtCO0NBQ25COztBQUdEO0VBQ0ksV0FBVTtFQUNWLGNBQWE7Q0FFaEI7O0FBRUQ7RUFDRSwwQkFBeUI7RUFDekIsb0JBQW1CO0VBQ25CLG9CQUFrQjtDQUNuQjs7QUFFRDtFQUNFLGFBQVk7Q0FDYjs7QUFHRDtFQUNFLGlCQUFnQjtDQUNqQjs7QUFJRDtFQUNFLGlCQUFnQjtFQUNoQixnQkFBZTtFQUNmLDhCQUE2QjtDQUM5Qjs7QUFFRDtFQUNFLGdCQUFlO0VBQ2YscUJBQW9CO0VBQ3BCLCtCQUE4QjtDQUMvQiIsImZpbGUiOiJtYWluLmNzcyIsInNvdXJjZXNDb250ZW50IjpbIlxuLyogICBDT0xPUlMgICAqL1xuLy9Gb250c1xuJGZvbnQtY29sb3I6ICMxYzFjMWM7XG4kZm9udC0yY29sb3I6ICM2YTZhNmE7XG4kZm9udC1saW5rOiAjNmE2YTZhO1xuJGZvbnQtbGluay12aXNpdGVkOiAjNTU1MzUzO1xuXG4vLyBCYWtjZ3JvbmRzOlxuXG4kZGVmYXVsdC1iYWNrZ3JvdW5kOiAjZTVlNWU5OyAvLyBkYSBlcnJvci5cblxuXG4vKiBSRVNQT05TSVZFICAqL1xuIiwiKiB7XG4gIGJveC1zaXppbmc6IGJvcmRlci1ib3g7XG4gIG1hcmdpbjogMDtcbn1cblxuYm9keSB7XG4gIGZvbnQtZmFtaWx5OiAnUmFsZXdheScsIHNhbnMtc2VyaWY7XG4gIGJhY2tncm91bmQtY29sb3I6ICNlNWU1ZTk7XG4gIGNvbG9yOiAkZm9udC1jb2xvcjtcbn1cblxuaDEsIGgyLCBoMywgaDQsIGg1LFxuaDYgcHtcbiAgZm9udC1mYW1pbHk6ICdPcGVuIFNhbnMnLCBzYW5zLXNlcmlmO1xufVxuXG4vKiAgUEFHRSAgKi9cblxuLmNvbnRhaW5lciB7XG4gIGRpc3BsYXk6IGZsZXg7XG4gIGZsZXgtZGlyZWN0aW9uOiBjb2x1bW47XG4gIGhlaWdodDogMTAwJTtcbiAgbWFyZ2luOiAwO1xuICBwYWRkaW5nOiAwO1xufVxuXG5AbWVkaWEgKG1pbi13aWR0aDogODAwcHgpIHtcblxuXG4uY29udGFpbmVyIHtcbiAgYmFja2dyb3VuZC1jb2xvcjogdHJhbnNwYXJlbnQ7XG4gIGRpc3BsYXk6IGZsZXg7XG4gIGZsZXgtZGlyZWN0aW9uOiByb3c7XG4gIG1hcmdpbjogMDtcbiAgcGFkZGluZzogMDtcbn1cblxuXG5cblxuXG5cbn1cbiIsIi8qICAgQ09MT1JTICAgKi9cbi8qIFJFU1BPTlNJVkUgICovXG4qIHtcbiAgYm94LXNpemluZzogYm9yZGVyLWJveDtcbiAgbWFyZ2luOiAwO1xufVxuXG5ib2R5IHtcbiAgZm9udC1mYW1pbHk6ICdSYWxld2F5Jywgc2Fucy1zZXJpZjtcbiAgYmFja2dyb3VuZC1jb2xvcjogI2U1ZTVlOTtcbiAgY29sb3I6ICMxYzFjMWM7XG59XG5cbmgxLCBoMiwgaDMsIGg0LCBoNSxcbmg2IHAge1xuICBmb250LWZhbWlseTogJ09wZW4gU2FucycsIHNhbnMtc2VyaWY7XG59XG5cbi8qICBQQUdFICAqL1xuLmNvbnRhaW5lciB7XG4gIGRpc3BsYXk6IGZsZXg7XG4gIGZsZXgtZGlyZWN0aW9uOiBjb2x1bW47XG4gIGhlaWdodDogMTAwJTtcbiAgbWFyZ2luOiAwO1xuICBwYWRkaW5nOiAwO1xufVxuXG5AbWVkaWEgKG1pbi13aWR0aDogODAwcHgpIHtcbiAgLmNvbnRhaW5lciB7XG4gICAgYmFja2dyb3VuZC1jb2xvcjogdHJhbnNwYXJlbnQ7XG4gICAgZGlzcGxheTogZmxleDtcbiAgICBmbGV4LWRpcmVjdGlvbjogcm93O1xuICAgIG1hcmdpbjogMDtcbiAgICBwYWRkaW5nOiAwO1xuICB9XG59XG5cbi5oYW1idXJndWVyLWJ1dHRvbiB7XG4gIGJhY2tncm91bmQtY29sb3I6IG5vbmU7XG59XG5cbi5zZWFyY2gtaW5wdXQge1xuICBiYWNrZ3JvdW5kLWNvbG9yOiAjZTVlNWU5O1xuICBib3JkZXI6IDFweCBzb2xpZCAjNmE2YTZhO1xuICBjb2xvcjogIzZhNmE2YTtcbiAgYm9yZGVyLXJhZGl1czogMjBweDtcbiAgbWFyZ2luLXRvcDogLTE1cHg7XG4gIHBhZGRpbmc6IDAgMTBweDtcbiAgaGVpZ2h0OiA0MHB4O1xufVxuXG4uYXNpZGUtYmlnLWluZm8tY29udGFpbmVyIHtcbiAgZGlzcGxheTogbm9uZTtcbn1cblxuLm5hdmJhci1tZW51IHtcbiAgd2lkdGg6IDEwMCU7XG59XG5cbkBtZWRpYSAobWluLXdpZHRoOiA4MDBweCkge1xuICAuYXNpZGUtYmlnLWluZm8tY29udGFpbmVyIHtcbiAgICBkaXNwbGF5OiBibG9jaztcbiAgICBoZWlnaHQ6IDEwMCU7XG4gICAgbWFyZ2luLWxlZnQ6IGF1dG87XG4gICAgc2Nyb2xsLWJlaGF2aW9yOiBzbW9vdGg7XG4gICAgd2lkdGg6IDUwJTtcbiAgfVxuICAubmF2YmFyLWxpc3Qge1xuICAgIGRpc3BsYXk6IGZsZXg7XG4gICAgZmxleC1kaXJlY3Rpb246IHJvdztcbiAgICBqdXN0aWZ5LWNvbnRlbnQ6IHNwYWNlLWFyb3VuZDtcbiAgICBtYXJnaW4tbGVmdDogYXV0bztcbiAgICBtYXJnaW4tYm90dG9tOiAwO1xuICAgIG1hcmdpbi10b3A6IDIwcHg7XG4gICAgd2lkdGg6IDgwJTtcbiAgfVxuICAubmF2YmFyLS1lbGVtZW50IHtcbiAgICBkaXNwbGF5OiBibG9jaztcbiAgICBmb250LXNpemU6IDAuOGVtO1xuICAgIGxpc3Qtc3R5bGU6IG5vbmU7XG4gICAgbWFyZ2luOiAwIDEwcHg7XG4gIH1cbiAgLm5hdmJhci0tZWxlbWVudCBhIHtcbiAgICBjb2xvcjogIzZhNmE2YTtcbiAgICB0ZXh0LWRlY29yYXRpb246IG5vbmU7XG4gIH1cbiAgLm5hdmJhci0tZWxlbWVudCBhOnZpc2l0ZWQge1xuICAgIGNvbG9yOiAjNTU1MzUzO1xuICB9XG4gIC5uYXZiYXItLWVsZW1lbnQgYTpob3ZlciB7XG4gICAgY29sb3I6ICM1NTUzNTM7XG4gICAgYm9yZGVyLWJvdHRvbTogMXB4IHNvbGlkICM1NTUzNTM7XG4gIH1cbiAgLmJ0bi10YWJsZS1jb250YWluIHtcbiAgICBiYWNrZ3JvdW5kLWNvbG9yOiB3aGl0ZTtcbiAgICBib3JkZXI6IG5vbmU7XG4gICAgYm9yZGVyLXJhZGl1czogNHB4O1xuICAgIGRpc3BsYXk6IGJsb2NrO1xuICAgIGZvbnQtc2l6ZTogMS4xZW07XG4gICAgZm9udC13ZWlnaHQ6IGJvbGQ7XG4gICAgaGVpZ2h0OiA1MHB4O1xuICAgIG1hcmdpbjogNTBweCBhdXRvO1xuICAgIHdpZHRoOiAyMDBweDtcbiAgfVxuICAuYXNpZGUtaW5mby10aXRsZSB7XG4gICAgdGV4dC1hbGlnbjogY2VudGVyO1xuICAgIGZvbnQtc2l6ZTogMi4zZW07XG4gICAgbWFyZ2luLWJvdHRvbTogMjBweDtcbiAgICBtYXJnaW4tdG9wOiA3NXB4O1xuICB9XG4gIC5hc2lkZS1pbmZvLTJ0aXRsZSB7XG4gICAgY29sb3I6ICM2YTZhNmE7XG4gICAgdGV4dC1hbGlnbjogY2VudGVyO1xuICAgIGZvbnQtc2l6ZTogMS4yZW07XG4gIH1cbiAgLmFzaWRlLWluZm8taW1hZ2Uge1xuICAgIGRpc3BsYXk6IGJsb2NrO1xuICAgIG1hcmdpbjogMCBhdXRvO1xuICAgIHdpZHRoOiA4MCU7XG4gIH1cbiAgLmFzaWRlLWZvb3RlciB7XG4gICAgaGVpZ2h0OiAxMiU7XG4gICAgbWFyZ2luLWJvdHRvbTogNTVweDtcbiAgICB3aWR0aDogNTAlO1xuICB9XG4gIC5mb290ZXItYXNpZGUtbG9nby1zb2NpYWwge1xuICAgIGRpc3BsYXk6IGZsZXg7XG4gICAgd2lkdGg6IDUwJTtcbiAgICBqdXN0aWZ5LWNvbnRlbnQ6IGJhc2VsaW5lO1xuICAgIGFsaWduLWl0ZW1zOiBiYXNlbGluZTtcbiAgICBtYXJnaW46IDIwcHg7XG4gIH1cbiAgLm9zdy1sb2dvIHtcbiAgICBtYXJnaW4tcmlnaHQ6IDVweDtcbiAgICBtYXJnaW4tdG9wOiAyMHB4O1xuICAgIHdpZHRoOiAyMCU7XG4gIH1cbiAgLmFzaWRlLXRpdGxlIHtcbiAgICBjb2xvcjogd2hpdGU7XG4gICAgZGlzcGxheTogYmxvY2s7XG4gICAgZm9udC1zaXplOiAyMHB4O1xuICAgIGZvbnQtd2VpZ2h0OiBub3JtYWw7XG4gICAgbWFyZ2luLWxlZnQ6IDVweDtcbiAgICBtYXJnaW4tcmlnaHQ6IGF1dG87XG4gICAgbWFyZ2luLXRvcDogMTBweDtcbiAgfVxuICAuZm9vdGVyLXNvY2lhbC1saXN0IHtcbiAgICBhbGlnbi1pdGVtczogZmxleC1lbmQ7XG4gICAgZGlzcGxheTogZmxleDtcbiAgICBtYXJnaW4tbGVmdDogYXV0bztcbiAgfVxuICAuZm9vdGVyLXNvY2lhbC1lbGVtZW50IHtcbiAgICBjb2xvcjogd2hpdGU7XG4gICAgbGlzdC1zdHlsZTogbm9uZTtcbiAgICBtYXJnaW4tbGVmdDogNXB4O1xuICAgIG1hcmdpbi1yaWdodDogNXB4O1xuICAgIHdpZHRoOiAzNXB4O1xuICB9XG4gIC5zb2NpYWwtaWNvIHtcbiAgICB3aWR0aDogMzVweDtcbiAgfVxufVxuXG4vKiBGaW4gbWVkaWFxdWVyeSEhISAqL1xuLypIRUFERVIqL1xuaGVhZGVyIHtcbiAgZGlzcGxheTogZmxleDtcbiAganVzdGlmeS1jb250ZW50OiBzcGFjZS1iZXR3ZWVuO1xuICBwYWRkaW5nOiAwIDEwcHg7XG4gIHdpZHRoOiAxMDAlO1xufVxuXG4ubmF2YmFyLWNvbnRhaW5lciB7XG4gIHdpZHRoOiA2MCU7XG59XG5cbi5uYXZiYXItbG9nbyB7XG4gIGRpc3BsYXk6IGJsb2NrO1xuICB3aWR0aDogMTIwcHg7XG59XG5cbi8qRklOIEhFQURFUiovXG4uc2VjdGlvbi1jb250YWluZXIge1xuICBkaXNwbGF5OiBmbGV4O1xuICBoZWlnaHQ6IDEwMCU7XG4gIGp1c3RpZnktY29udGVudDogc3BhY2UtYXJvdW5kO1xuICBoZWlnaHQ6IDEwMCU7XG4gIHdpZHRoOiA1MCU7XG4gIG1hcmdpbi10b3A6IDJyZW07XG4gIG1hcmdpbi1sZWZ0OiAycmVtO1xuICBtYXJnaW4tcmlnaHQ6IDJyZW07XG59XG5cbi5zZWN0aW9uLWdlbmVyYWwgdWwge1xuICB3aWR0aDogNTAlO1xuICBwYWRkaW5nOiAxcmVtO1xufVxuXG4uc2VjdGlvbi1ncm91cCB7XG4gIGJhY2tncm91bmQtY29sb3I6ICNmZmZmZmY7XG4gIGJvcmRlci1yYWRpdXM6IDIwcHg7XG4gIG1hcmdpbi1ib3R0b206IDE1cHg7XG59XG5cbi5zZWN0aW9uLWdyb3VwIGltZyB7XG4gIG1hcmdpbjogMXJlbTtcbn1cblxubGkge1xuICBsaXN0LXN0eWxlOiBub25lO1xufVxuXG4udGl0bGUge1xuICBmb250LXdlaWdodDogNTAwO1xuICBmb250LXNpemU6IDI0cHg7XG4gIG1hcmdpbjogMXJlbSAxcmVtIDAuM3JlbSAxcmVtO1xufVxuXG4uZGVzY3JpcHRpb24ge1xuICBmb250LXNpemU6IDE4cHg7XG4gIGZvbnQtd2VpZ2h0OiBsaWdodGVyO1xuICBwYWRkaW5nOiAwLjNyZW0gMXJlbSAxcmVtIDFyZW07XG59XG4iLCIuaGFtYnVyZ3Vlci1idXR0b257XG5iYWNrZ3JvdW5kLWNvbG9yOiBub25lO1xuXG59XG4iLCIuc2VhcmNoLWlucHV0IHtcbiAgYmFja2dyb3VuZC1jb2xvcjogJGRlZmF1bHQtYmFja2dyb3VuZDtcbiAgYm9yZGVyOiAxcHggc29saWQgJGZvbnQtbGluaztcbiAgY29sb3I6ICRmb250LWxpbms7XG4gIGJvcmRlci1yYWRpdXM6IDIwcHg7XG4gIG1hcmdpbi10b3A6IC0xNXB4O1xuICBwYWRkaW5nOiAwIDEwcHg7XG4gIGhlaWdodDogNDBweDtcbn1cbiIsIi5hc2lkZS1iaWctaW5mby1jb250YWluZXIge1xuICBkaXNwbGF5OiBub25lO1xufVxuXG4ubmF2YmFyLW1lbnV7XG4gIHdpZHRoOiAxMDAlO1xuXG59XG4vLy8vLy8vLy8vLy8vLy8vLy8vLy8vLy8vLy8vICAgTUVESUFRVUVSSUVTICAgLy8vLy8vLy8vLy8vLy8vLy8vLy8vLy8vLy8vLy8vLy8vLy8vLy8vLy9cbkBtZWRpYSAobWluLXdpZHRoOiA4MDBweCkge1xuXG5cbiAgLmFzaWRlLWJpZy1pbmZvLWNvbnRhaW5lciB7XG4gICAgZGlzcGxheTogYmxvY2s7XG4gICAgaGVpZ2h0OiAxMDAlO1xuICAgIG1hcmdpbi1sZWZ0OiBhdXRvO1xuICAgIHNjcm9sbC1iZWhhdmlvcjogc21vb3RoO1xuICAgIHdpZHRoOiA1MCU7XG4gIH1cblxuICAubmF2YmFyLWxpc3Qge1xuICAgIGRpc3BsYXk6IGZsZXg7XG4gICAgZmxleC1kaXJlY3Rpb246IHJvdztcbiAgICBqdXN0aWZ5LWNvbnRlbnQ6IHNwYWNlLWFyb3VuZDtcbiAgICBtYXJnaW4tbGVmdDogYXV0bztcbiAgICBtYXJnaW4tYm90dG9tOiAwO1xuICAgIG1hcmdpbi10b3A6IDIwcHg7XG4gICAgd2lkdGg6IDgwJTtcbiAgfVxuXG4gIC5uYXZiYXItLWVsZW1lbnQge1xuICAgIGRpc3BsYXk6IGJsb2NrO1xuICAgIGZvbnQtc2l6ZTogMC44ZW07XG4gICAgbGlzdC1zdHlsZTogbm9uZTtcbiAgICBtYXJnaW46IDAgMTBweDtcbiAgICBhIHtcbiAgICAgIGNvbG9yOiAkZm9udC1saW5rO1xuICAgICAgdGV4dC1kZWNvcmF0aW9uOiBub25lO1xuICAgIH1cbiAgICBhOnZpc2l0ZWQge1xuICAgICAgY29sb3I6ICRmb250LWxpbmstdmlzaXRlZDtcbiAgICB9XG4gICAgYTpob3ZlciB7XG4gICAgICBjb2xvcjogJGZvbnQtbGluay12aXNpdGVkO1xuICAgICAgYm9yZGVyLWJvdHRvbTogMXB4IHNvbGlkICRmb250LWxpbmstdmlzaXRlZDtcbiAgICB9XG4gIH1cblxuICAuYnRuLXRhYmxlLWNvbnRhaW4ge1xuICAgIGJhY2tncm91bmQtY29sb3I6IHdoaXRlO1xuICAgIGJvcmRlcjogbm9uZTtcbiAgICBib3JkZXItcmFkaXVzOiA0cHg7XG4gICAgZGlzcGxheTogYmxvY2s7XG4gICAgZm9udC1zaXplOiAxLjFlbTtcbiAgICBmb250LXdlaWdodDogYm9sZDtcbiAgICBoZWlnaHQ6IDUwcHg7XG4gICAgbWFyZ2luOiA1MHB4IGF1dG87XG4gICAgd2lkdGg6IDIwMHB4O1xuICB9XG4gIC5hc2lkZS1pbmZvLXRpdGxlIHtcbiAgICB0ZXh0LWFsaWduOiBjZW50ZXI7XG4gICAgZm9udC1zaXplOiAyLjNlbTtcbiAgICBtYXJnaW4tYm90dG9tOiAyMHB4O1xuICAgIG1hcmdpbi10b3A6IDc1cHhcbiAgfVxuICAuYXNpZGUtaW5mby0ydGl0bGV7XG4gICAgY29sb3I6ICRmb250LWxpbms7XG4gICAgdGV4dC1hbGlnbjogY2VudGVyO1xuICAgIGZvbnQtc2l6ZTogMS4yZW07XG4gIH1cbiAgLmFzaWRlLWluZm8taW1hZ2Uge1xuICAgIGRpc3BsYXk6IGJsb2NrO1xuICAgIG1hcmdpbjogMCBhdXRvO1xuICAgIHdpZHRoOiA4MCU7XG4gIH1cblxuICAvLyBGb290ZXI6XG4gIC5hc2lkZS1mb290ZXIge1xuICAgIGhlaWdodDogMTIlO1xuICAgIG1hcmdpbi1ib3R0b206IDU1cHg7XG4gICAgd2lkdGg6IDUwJTtcbiAgfVxuICAuZm9vdGVyLWFzaWRlLWxvZ28tc29jaWFse1xuICAgIGRpc3BsYXk6IGZsZXg7XG4gICAgd2lkdGg6IDUwJTtcbiAgICBqdXN0aWZ5LWNvbnRlbnQ6IGJhc2VsaW5lO1xuICAgIGFsaWduLWl0ZW1zOiBiYXNlbGluZTtcbiAgICBtYXJnaW46IDIwcHg7XG4gIH1cbiAgLm9zdy1sb2dvIHtcbiAgICBtYXJnaW4tcmlnaHQ6IDVweDtcbiAgICBtYXJnaW4tdG9wOiAyMHB4O1xuICAgIHdpZHRoOiAyMCU7XG4gIH1cbiAgLmFzaWRlLXRpdGxlIHtcbiAgICBjb2xvcjogd2hpdGU7XG4gICAgZGlzcGxheTogYmxvY2s7XG4gICAgZm9udC1zaXplOiAyMHB4O1xuICAgIGZvbnQtd2VpZ2h0OiBub3JtYWw7XG4gICAgbWFyZ2luLWxlZnQ6IDVweDtcbiAgICBtYXJnaW4tcmlnaHQ6IGF1dG87XG4gICAgbWFyZ2luLXRvcDogMTBweDtcbiAgfVxuXG4gIC5mb290ZXItc29jaWFsLWxpc3R7XG4gICAgYWxpZ24taXRlbXM6IGZsZXgtZW5kO1xuICAgIGRpc3BsYXk6IGZsZXg7XG4gICAgbWFyZ2luLWxlZnQ6IGF1dG87XG5cbiAgfVxuICAuZm9vdGVyLXNvY2lhbC1lbGVtZW50e1xuICAgIGNvbG9yOiB3aGl0ZTtcbiAgICBsaXN0LXN0eWxlOiBub25lO1xuICAgIG1hcmdpbi1sZWZ0OiA1cHg7XG4gICAgbWFyZ2luLXJpZ2h0OiA1cHg7XG4gICAgd2lkdGg6IDM1cHg7XG4gIH1cbiAgLnNvY2lhbC1pY297XG4gICAgd2lkdGg6IDM1cHg7XG4gIH1cblxufSAvKiBGaW4gbWVkaWFxdWVyeSEhISAqL1xuIiwiLypIRUFERVIqL1xuXG5oZWFkZXJ7XG4gIGRpc3BsYXk6IGZsZXg7XG4gIGp1c3RpZnktY29udGVudDogc3BhY2UtYmV0d2VlbjtcbiAgcGFkZGluZzogMCAxMHB4O1xuICB3aWR0aDogMTAwJTtcbn1cbi5uYXZiYXItY29udGFpbmVye1xuICB3aWR0aDogNjAlO1xufVxuLm5hdmJhci1sb2dve1xuICBkaXNwbGF5OiBibG9jaztcbiAgd2lkdGg6IDEyMHB4O1xufVxuXG5cbi8qRklOIEhFQURFUiovXG5cblxuLnNlY3Rpb24tY29udGFpbmVyIHtcbiAgZGlzcGxheTogZmxleDtcbiAgaGVpZ2h0OiAxMDAlO1xuICBqdXN0aWZ5LWNvbnRlbnQ6IHNwYWNlLWFyb3VuZDtcbiAgaGVpZ2h0OiAxMDAlO1xuICB3aWR0aDogNTAlO1xuICBtYXJnaW4tdG9wOiAycmVtO1xuICBtYXJnaW4tbGVmdDogMnJlbTtcbiAgbWFyZ2luLXJpZ2h0OiAycmVtO1xufVxuXG5cbi5zZWN0aW9uLWdlbmVyYWwgdWwge1xuICAgIHdpZHRoOiA1MCU7XG4gICAgcGFkZGluZzogMXJlbTtcblxufVxuXG4uc2VjdGlvbi1ncm91cCB7XG4gIGJhY2tncm91bmQtY29sb3I6ICNmZmZmZmY7XG4gIGJvcmRlci1yYWRpdXM6IDIwcHg7XG4gIG1hcmdpbi1ib3R0b206MTVweDtcbn1cblxuLnNlY3Rpb24tZ3JvdXAgaW1ne1xuICBtYXJnaW46IDFyZW07XG59XG5cblxubGkge1xuICBsaXN0LXN0eWxlOiBub25lO1xufVxuXG5cblxuLnRpdGxlIHtcbiAgZm9udC13ZWlnaHQ6IDUwMDtcbiAgZm9udC1zaXplOiAyNHB4O1xuICBtYXJnaW46IDFyZW0gMXJlbSAwLjNyZW0gMXJlbTtcbn1cblxuLmRlc2NyaXB0aW9ue1xuICBmb250LXNpemU6IDE4cHg7XG4gIGZvbnQtd2VpZ2h0OiBsaWdodGVyO1xuICBwYWRkaW5nOiAwLjNyZW0gMXJlbSAxcmVtIDFyZW07XG59XG4iXX0= */
